*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #f1f1f1;
}


.proyectos{
	height: 80vh;
	width: 100vw;

	

	display: flex;

	justify-content: center;
	align-items: center;
	
	flex-direction: column;
}

.titulo{

}

article{
	flex: 50%;

	height: 100vh;
	width: 100vw;

	display: flex;

	justify-content: center;
	align-items: center;
}

.btn-borde {
  padding: .375rem .75rem;
  border: 1px solid #007bff;
  border-radius: .25rem;
  color: #007bff;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out;
}

.btn-borde:hover, .btn-borde:active, .btn-borde:focus {
  color: #fff;
  background-color: #007bff;
}